@charset "UTF-8";

/* Importation de polices Google Fonts */
/* Polices : Playfair Display (titres), DM Sans (texte) */
/* Exemple : font-family: 'Playfair Display', serif; */
/* Exemple : font-family: 'DM Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
/*
 * Points de rupture :
 * ==========================================================================
 * 640px  (40rem)  - Téléphones en mode paysage (horizontal)
 * 768px  (48rem)  - Tablettes en mode portrait (vertical)
 * 1024px (64rem)  - Petits ordinateurs portables, tablette en mode paysage (horizontal)
 */

/**
 * @author Charles Piquette <2535791@csfoy.ca>
 *
 * TABLE DES MATIERES
 * Styles de base
 * Accessibilité
 * Styles typographique
 * Header
 * 
 */

/* ------- Styles de base ------- */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* img {
    max-width: 100%;
} */

/* ------- Accessibilité ------- */
.screen-reader-only,
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus,
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* ------- Styles typographique et couleur ------- */
:root {
    font-family: "Lato", sans-serif;
    font-weight: 400;

    --couleur-conteneur: white;
    --couleur-header: #2e1333;
    --couleur-utilitaire: #e980fc;
    --couleur-tertiaire: #f2b1ff;
    --couleur-texte: #8900be;
    --couleur-sous-titre: #b7d7e8;
}

body {
    background: #f5f1ed;
}

h2 {
    font-family: "Madimi One", sans-serif;
}

/* ------- Header ------- */
.titre__header,
.conteneur__titre {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
}

header {
    align-items: left;
    background-color: var(--couleur-header);
    width: auto;
    height: 15.6rem;
}

.texte__header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 51rem;
    margin: auto;
}

.titre__header {
    font-size: 2.5rem;
    color: var(--couleur-conteneur);
    letter-spacing: 2px;
}

.sous-titre__header {
    color: var(--couleur-sous-titre);
    font-size: 0.7rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.titre__nom {
    color: var(--couleur-utilitaire);
    display: block;
}

.programme {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.separateur {
    color: var(--couleur-utilitaire);
    margin: 0 8px;
}

/* ------- Contenu ------- */
.intro {
    margin-top: 40px;
}

.intro .conteneur__titre {
    color: var(--couleur-texte);
    letter-spacing: 1px;
}

.carte {
    position: relative;
    background: var(--couleur-conteneur);
    border: 2px solid var(--couleur-tertiaire);
    width: 51rem;
    border-radius: 20px;
    padding: 1.5rem;
    margin-bottom: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

.type {
    display: inline-block;
    border: 2px solid var(--couleur-tertiaire);
    border-radius: 50px;
    padding: 8px 16px;
    color: var(--couleur-texte);
    font-weight: 700;
    margin-bottom: 20px;
}

.conteneur__titre {
    letter-spacing: 1px;
    color: var(--couleur-header);
    margin-bottom: 30px;
}

.conteneur__image {
    display: block;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.conteneur__texte {
    margin-bottom: 30px;
}

.btn__conteneur {
    padding: 0.7em;
    border-radius: 10px;
    border-color: var(--couleur-header);
    background-color: var(--couleur-tertiaire);
    color: var(--couleur-header);
    font-weight: 700;
    cursor: pointer;
}

/* ------- Popups ------- */

dialog {
    width: 40rem;
    border: 1px solid #cbd5e1;
    border-radius: 0.75rem;
    padding: 1rem;
    margin: auto;
}

dialog::backdrop {
    background: rgb(15 23 42 / 65%);
}

.vrac__semaine {
    display: inline-flex;
    gap: .5rem;
}

.semaine_rendu {
    font-weight: 600;
}

.apprentissages_vrac {
    margin-bottom: 10px;
    font-weight: 600;
}

.apprentissages {
    display: flex;
    flex-direction: row;
    gap: .7rem;
    border-bottom: 1px solid #2e1333;
    margin-bottom: 20px;
}

.vrac {
    display: inline-block;
    border: 2px solid var(--couleur-tertiaire);
    border-radius: 50px;
    padding: 4px 12px;
    color: var(--couleur-texte);
    font-weight: 700;
    margin-bottom: 20px;
    font-size: .7rem;
}

.boite {
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    border-left: 5px solid;
}

.boite__orange {
    background:#f8eee6;
    border-color:#d97706;
}

.titre__orange {
    color:#9a4f00;
}

.boite__verte{
    background:#e8f5ec;
    border-color:#16a34a;
}

.titre__vert {
    color:#166534;
}

/* ------- Footer ------- */
.separateur__footer {
    color: var(--couleur-texte);
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50rem;
    margin: auto;
}
