@charset "UTF-8";

/* Importation de polices Google Fonts */
/* Polices : Playfair Display (titres), DM Sans (texte) */
/* Exemple : font-family: 'Playfair Display', serif; */
/* Exemple : font-family: 'DM Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
/*
 * Points de rupture :
 * ==========================================================================
 * 640px  (40rem)  - Téléphones en mode paysage (horizontal)
 * 768px  (48rem)  - Tablettes en mode portrait (vertical)
 * 1024px (64rem)  - Petits ordinateurs portables, tablette en mode paysage (horizontal)
 */

/**
 * @author Charles Piquette <2535791@csfoy.ca>
 *
 * TABLE DES MATIERES
 * Styles de base
 * Accessibilité
 * Styles typographique
 * 
 */

/* ------- Styles de base ------- */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* ------- Accessibilité ------- */
.screen-reader-only,
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus,
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* ------- Styles typographique ------- */
:root {
    font-family: "Lato", sans-serif;
    font-weight: 400;

    --couleur-header: #2E1333;
    --couleur-utilitaire: #E980FC;
    --couleur-tertiaire: #B96AC9;
}

.titre__header,
.conteneur__titre {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--couleur-header);
    width: auto;
    height: auto;
    color: white;
}

.titre__nom {
    color: var(--couleur-utilitaire);
}